body{
	font-family: monospace;
	background: linear-gradient( to bottom , brown , 1% , white );
	background-repeat: no-repeat;
	background-size: cover;
}
.myimg{
	width: 50px;
}

.transit{
	transition: all 0.25s ease-in-out;
}
.transit:hover{
	transform: scale(1.10);
}

.lightblue{
	background-color: lightblue;
}